<div class="block">
	
	 <div id="form" class="column span-16">
	    
	    <h2 class="alt form_title">Signup for easy ticketee</h2>
	    
	    <div>
	  	   <%= render "form" %>
        </div>
	
    </div>


</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	


