<%=div_for(comment) do%>
   
   <p>
   	  <b><%=comment.user%></b>
   </p>
   
   
   
   <p>
   	  <%=simple_format(comment.text)%> 
   </p>
   
   <hr class="space"/>
   <hr class="gray_bottom_border"/> 
<%end%>
