<div class="block">

   <div id="form" class="column span-16">
	    
	    <h2 class="alt form_title">Setting permissions for: <%=@user.email%></h2>
	    
	    <div>
	  	   <%= render "form" %>
        </div>
	
    </div>



  <div class="debug column span-4 box">
         <%=render "layouts/debug"%>  
  </div> 

</div>