<div class="block">
	
	<div class="column span-24 last">
    
       <%10.times do %>
       
           <div class="notLongForThisWorld loud"> Not Long Fot This World</div>
                                  	
       <%end%>
    
    </div>
	
	
</div>
