<div class="block">
	
	<div class="column span-24 last">
    
     <p>
     	<%=link_to "Un link",""%> 
     </p>	  
    
     <div>
     	  <p>
               <%=link_to "Un'altro link",""%> 	  
     	  </p>
     
     </div>
    
    </div>
	
	
</div>
