<div class="block">

   <div id="form" class="column span-16">
	    
	    <h2 class="alt form_title">Demo form 1</h2>
	    
	    <div>
	  	     <%= form_tag do %>
	  	     <%end%>
        </div>
	
    </div>

  <div class="debug column span-4 box">
         <%=render "layouts/debug"%>  
  </div> 

</div>
