<div id="blocco" class="block">
   
   <div id ="div_principale" class="column span-16 colborder">
      Sono puro testo nel div principale.
      <h2>Sono Un Titolo h2</h2>
       
       <div id="pop">
       	   Sono dentro popping...
       	</div>
       
       
       
       <div id="annidato_1">
          Sono dentro annidato_1
          <div id="annidato_2">Sono dentro un div dentro annidato_1</div>
       
       </div>
   
   </div>
           
     
</div>
