<div class="block">

  <div id="main" class="column span-16">
        <div>
     	     <h2 class="alt"> New ticket for <%= @project.name %> </h2> 
             <%= render "form" %>
        </div>
     
  </div> 

  <div class="debug column span-4 box">
         <%=render "layouts/debug"%>  
  </div> 

</div>