<div class="block">

  <div id="title_edit" class="column span-16 last">
     <h2 class="alt">Settings</h2> 
  </div>	
  
  <div id="edit" class="column span-16 last">
        <div>
     	    <%= render "form" %>
        </div>
     
  </div> 

  
</div>
