<div class="block">
   
   <div class="column span-24">
 	
 	    <div id="create_project_button">
        
            <%=link_to "New Project",
                       new_project_path,
                       :class=>"create_project_button"%>
        
        </div>	
 	
 	</div>




</div>
