<div class="block">
	    
	    <div id="project_showing" class="rounded column span-23">
	   
	        <div>   
	             <div id="#project_name">
                     <h2 class="alt"><%=@project.name%></h2>
                 </div>
                
                 <div id="project_edit">
                     <%=link_to "Edit Project",edit_project_path(@project),:class=>"command_button"%>
                 </div>	
                 
                 <div id="project_add_ticket">
                     <%=link_to "Add Ticket","",:class=>"command_button"%>
                 </div>	
                 
                 <div id="project_delete">
                     <%=link_to "Delete Project",
                                 project_path(@project),
                                 :method=>"delete",
                                 :confirm=>"Are you sure to delete the project '#{@project.name}' ?",
                                 :class=>"command_button"%>
                 </div>	 
                  
            </div>
       
       </div>       
                  

</div>

