<div class="block">
	
	<div class="column span-16 colborder">
	 
	  <div>
     	     <h2 class="alt form_title">Login </h2> 
             
             <div id="form">
             	<%= render "form" %>
             </div> 
        
        </div>
	
    </div>

</div>
	
 
