<div class="block">
   
   <div class="box rounded column span-16">
      
      <div>
          <h2 class="alt">Donate To Ticketee </h2>
          <h4>Thank you for your decision to donate to Ticketee</h4>
          <p>Your donation total is 500 &euro;</p> 
          <p>
           <%= link_to image_tag("https://www.sandbox.paypal.com/it_IT/IT/i/btn/btn_donateCC_LG.gif", 
                                  :border=>"0", 
                                  :alt=>"PayPal - Il sistema di pagamento online più facile e sicuro!"
                                  ),
                                 :action => 'checkout' %>
          </p>
          
      </div> 
   
   
   </div> 
  

</div>
