/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 * 	
 *= require_self
 *= require_tree . 
 * 
 *
 * */




/* General */

 a{
	text-decoration:none;
 }

/* Disable alternating colors table Blueprint */ 

table tr:nth-child(even) td {
  background: transparent;
}


 /* rounded corners, utilizzato da i riquadri di project show e ticket show. */ 

.rounded{
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
	
}

.sequential{
	display:inline;
    margin-left:0.8em; 
}


/* useful box, utilized almost all the time. */ 

.cool_box{
 padding:5px;
 
 background: #ffffff;
 background: -webkit-gradient(linear, left top, right bottom, from(#ffffff), to(#c6c6c6)); /* for webkit browsers */ 
 background: -moz-linear-gradient(top,  #ffffff,  #c6c6c6); /* for firefox 3.6+ */
 background: -webkit-linear-gradient(top, #ffffff, #c6c6c6);
 background: -ms-linear-gradient(top, #ffffff, #c6c6c6);
 background: -o-linear-gradient(top, #ffffff, #c6c6c6);	
 
 border-bottom: solid 2px #A1A1A1;
 border-right: solid 1px #A1A1A1;
   

}


.gray_bottom_border{
	border-bottom: solid 1px #c1c1c1;
}


.gray_bottom_border_variant_1{
	border-bottom: solid 1px #ccc;
}

.emerald_bottom_border{
	border-bottom: solid 1px #34a7b4;
}

.gray_top_border{
	border-top: solid 1px #c6c6c6;
}

.cool_text_small{
	
	color:#444;  
    padding: 5px 10px;
    font-size: 1em;
    font-family: Georgia, serif;
    text-shadow: rgba(255,255,255,.8) 0 1px 0; 
}


.cool_text{
	
	color:#444;  
    padding: 5px 10px;
    font-size: 1.8em;
    font-family: Georgia, serif;
    text-shadow: rgba(255,255,255,.8) 0 1px 0; 
}



/* general background styling */ 


.container	{
 
 background: #ffffff;
 background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff)); /* for webkit browsers */ 
 background: -moz-linear-gradient(top,  #a1a1a1,  #fff); /* for firefox 3.6+ */
 background: -webkit-linear-gradient(top, #ccc, #fff);
 background: -ms-linear-gradient(top, #ccc, #fff);
 background: -o-linear-gradient(top, #ccc, #fff);	
 padding:0px;
	
}


/*header styling */ 
#header{ 
 background: #ffffff;
 background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c6c6c6)); /* for webkit browsers */ 
 background: -moz-linear-gradient(top,  #ffffff,  #c6c6c6); /* for firefox 3.6+ */
 background: -webkit-linear-gradient(top, #ffffff, #c6c6c6);
 background: -ms-linear-gradient(top, #ffffff, #c6c6c6);
 background: -o-linear-gradient(top, #ffffff, #c6c6c6);	
  
  border-top-left-radius: 10em 20em;
 -webkit-border-top-left-radius: 10em 20em;
 -moz-border-top-left-radius: 10em 20em; 
   
  padding:5px;
}

#header h1{
	margin-left:1.6em;
}

/* menu_up */

#menu_up{
 padding:15px; 

    background: #d1d1d1;
    background: -webkit-gradient(linear, left top, left bottom, from(#c6c6c6), to(#a1a1a1));
    background: -webkit-linear-gradient(top, #c6c6c6, #a1a1a1);
    background: -moz-linear-gradient(top, #c6c6c6, #a1a1a1);
    background: -ms-linear-gradient(top, #c6c6c6, #a1a1a1);
    background: -o-linear-gradient(top, #c6c6c6, #a1a1a1);
 

 
 
}

#menu_up a{
	
	color: #444;
}


#menu_up a:hover{
	
	color: #06c;
}


/* Command button */

.command_button {
   
     /* Cross browser border radius*/
      -webkit-border-radius: 1.6em;
      -moz-border-radius: 1.6em;
      border-radius: 1.6em;
     
     /* Cross browser background linear gradient */ 
     background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); /* For webkit browser Safari 4+ Chrome 2+ */
     background: -webkit-linear-gradient(top, #ebebeb, #a1a1a1); /* Safari 5.1+, Chrome 10+*/
     background: -moz-linear-gradient(top, #ebebeb, #a1a1a1); /* firefox 3.6+*/
     background: -ms-linear-gradient(top, #ebebeb, #a1a1a1); /* IE 10 */
     background: -o-linear-gradient(top, #ebebeb, #a1a1a1); /* Opera 11.10 */
   /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1');*/ /* IE6 & IE7 */  
     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#a1a1a1')"; /* IE8+ */  
     background: linear-gradient('#ebebeb', '#a1a1a1'); /* the standard */  
     background: #d1d1d1; /* for non-css3 browsers */   
   
     /* Cross browser box shadowing */ 
       
      -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
      -moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
       box-shadow: 0 1px 1px rgba(0,0,0,.2);
       text-shadow: rgba(255,255,255,.8) 0 1px 0;
       
     /* styling */
      
    font-weight: bold;
    font-size:1.2em;
	color: #444;
	text-decoration: none;
	display: inline;
	padding:  8px 20px;
	margin: 0;
    border-top: solid 1px #f8f8f8;
	
    
     
   }
.command_button:hover {
   
   }
.command_button:active {
  
   }
 .command_button:visited{

 }  





/* Generic button. This button appears on the upside menubar (menu up) */

 .button {
    border-top: 1px solid #dddddd;
    
    background: #8b8b8b;
    background: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#a1a1a1)); /* for webkit browsers */ 
    background: -moz-linear-gradient(top,  #ebebeb,  #a1a1a1); /* for firefox 3.6+ */
    background: -webkit-linear-gradient(top, #ebebeb, #a1a1a1);
    background: -ms-linear-gradient(top, #ebebeb, #a1a1a1);
    background: -o-linear-gradient(top, #ebebeb, #a1a1a1);	 
    
    color:#444;
    border-top: solid 1px #f8f8f8;
    
    padding: 5px 10px;
    -webkit-border-radius: 29px;
    -moz-border-radius: 29px;
    border-radius: 29px;
    
    font-size: 1.3em;
    text-align:center;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
     
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-shadow: rgba(255,255,255,.8) 0 1px 0; 
    
    margin-top:10px; 
     
 }
 .button:hover {
    border-top: 1px solid #dddddd;
    background: #ededf2;
    background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#ededf2));
    background: -webkit-linear-gradient(top, #dddddd, #ededf2);
    background: -moz-linear-gradient(top, #dddddd, #ededf2);
    background: -ms-linear-gradient(top, #dddddd, #ededf2);
    background: -o-linear-gradient(top, #dddddd, #ededf2);     
  }

  .button:active {
    border-top: 1px solid #dddddd;
    background: #ededf2;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededf2), to(#dddddd));
    background: -webkit-linear-gradient(top, #ededf2, #dddddd);
    background: -moz-linear-gradient(top, #ededf2, #dddddd);
    background: -ms-linear-gradient(top, #ededf2, #dddddd);
    background: -o-linear-gradient(top, #ededf2, #dddddd);
   }

  .button{
   color: #444;
   font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
   font-style:normal;
   font-weight:bolder;
   }

  
/* Some styling for all form's fields in the application. */


.input_cell input {
	font-size:1.5em;
	height:2em;
    width: 600px; 
   -moz-border-radius: 15px;
    border-radius: 5px;
 } 


.input_cell input:focus {
   /*border-color: #0099FF;*/
}


.input_cell textarea {
	font-size:1.8em;
	height:6em;
    width: 600px; 
   -moz-border-radius: 15px;
   border-radius: 5px;
  
} 

.input_cell textarea:focus {
   border-color: #0099FF;
}

.label_cell{
	font-size:1.3em;
    

}

.check_box_label_cell{
	font-size:1.3em;
	margin-left:1px;
}

.check_box{
	
	margin-right:0px;
}

#sub{
	margin-top:1.5em;
}

/* form button */ 


.formButton {
   
   background: #89d9a2;
   
   background: -webkit-gradient(linear, left top, left bottom, from(#2d8a51), to(#89d9a2));
   background: -webkit-linear-gradient(top, #2d8a51, #89d9a2);
   background: -moz-linear-gradient(top, #2d8a51, #89d9a2);
   background: -ms-linear-gradient(top, #2d8a51, #89d9a2);
   background: -o-linear-gradient(top, #2d8a51, #89d9a2);
   
   padding: 10px 20px;
   
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
    border-radius: 8px;
   
   
   
   color: white;
   font-size: 1.4em;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.formButton:hover {
   /*border-top-color: #4b8062;
   background: #4b8062;
   color: #ccc;*/
    background: #4b8062;
   }
.formButton:active {
   /*border-top-color: #4B8062;
   background: #2c6943;*/
   }
   
  /* Extra styling borns from registration form, and applied to all forms */
 
 
#form{
   
 background: #ffffff;
 background: -webkit-gradient(linear, left top, right bottom, from(#ffffff), to(#c6c6c6)); /* for webkit browsers */ 
 background: -moz-linear-gradient(top,  #ffffff,  #c6c6c6); /* for firefox 3.6+ */
 background: -webkit-linear-gradient(top, #ffffff, #c6c6c6);
 background: -ms-linear-gradient(top, #ffffff, #c6c6c6);
 background: -o-linear-gradient(top, #ffffff, #c6c6c6);	
 
 border-bottom: solid 2px #A1A1A1;
 border-right: solid 1px #A1A1A1;
 margin-left:2.5em;
 
 padding-bottom:1.1em;   
} 
   
.form_title {
	
	background: #2972a3;
    background: -webkit-gradient(linear, left top, left bottom, from(#2972a3), to(#65a9d7));
    background: -webkit-linear-gradient(top, #2972a3, #65a9d7);
    background: -moz-linear-gradient(top, #2972a3, #65a9d7);
    background: -ms-linear-gradient(top, #2972a3, #65a9d7);
    background: -o-linear-gradient(top, #2972a3, #65a9d7);     
	color:white;
	
	
}

#form h2{
	padding:10px;
}

#form div form div{
   padding-left:10px;
  
}

#form div form div label{
   margin-bottom:0px;
  
}




#form_suggestions{
	padding:1.5em;
}
/* General form errors styling */

.field_with_errors input {
	border: solid 1px red; /*#fbc2c4;*/
}
.field_with_errors label {
	color: red;
}

.field_with_errors textarea {
	border-color: #fbc2c4;
}

#error_explanation h2,#errorExplanation h2{
    
    background: #ff0000;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ed8282));
    background: -webkit-linear-gradient(top, #ff0000, #ed8282);
    background: -moz-linear-gradient(top, #ff0000, #ed8282);
    background: -ms-linear-gradient(top, #ff0000, #ed8282);
    background: -o-linear-gradient(top, #ff0000, #ed8282);     
	color:white;
	padding:5px;
	margin-top:10px;
	
}

#error_explanation ul,#errorExplanation ul{
	
    margin-top:10px;

}

#error_explanation ul li,#errorExplanation ul li{
	
    color:red;
    font-size: 1.3em;

}


/* Projects index styling  <=== MAGARI CONTINUA A RIORDINARE STYLING PER: user,project,ticket*/

#project_index{
margin-left:10px;
}

#project_index h2{
	
    display:inline;

}

#project_index hr{
	color:#000;
}


#project_new{
	 display:inline;
     margin-left:1.8em;
     font-size:1.2em; 
}


.project_image{
	
	display:inline;
}

.project_name_field{
   display:inline;	
}

.project_name_field a{
	
	text-decoration:none;
	font-size:1.5em;
}




/* Project show styling */

#project_show{
	margin-left:0.5em;
	padding: 1.5em;
  
}



#project_name_field { /* Attenzione non lo chiamare project_name collide con form */
 	overflow: auto;
    font-size: 1em;
}


#project_delete a:hover{
	 color:red;
}


/* Updating ticket styling <==== CONTINUA A RIFARE LO STYLING DA QUI. */

#title_edit{
	
   background-color: #ededf2;
   border-top: solid 1px #dddddd;
   border-left: solid 1px #dddddd;
   border-right: solid 1px #dddddd;
}

#title_edit h2{
	margin-left:0.2em;
}

#edit{
   border-bottom: solid 2px #dddddd;
   border-left: solid 1px #dddddd;
   border-right: solid 1px #dddddd;
}  

#edit > div{
	margin:1.1em;
}





#ticket{
	
	padding: 1.5em;
    margin-left:5px;  
}



#ticket_title_field { /* Attenzione non chiamarlo ticket_title collide con form */
	
	overflow: auto;
    font-size: 1em;  
}


#ticket_title_field > h2 {
	display:inline;
}


#ticket_edit{
	
}


#ticket_delete a:hover{
	color:red;
}

#ticket_info div{
	font-size: 1.4em;
	display:block;
	
}



#ticket_info a{
	text-decoration:none;
	
}


#ticket_description_field{
	
	overflow:auto;
    /*font-size:1.6em; 
    border-bottom: solid 1px #ccc;
    */


}


#ticket_index{
	
	margin-left: 0.5em;
    padding:1.5em;
}



.ticket_name_field {
	 	 
	text-decoration:none;
	font-size:1.5em;
}

/* Add another file, file fields styling, inside new ticket form */ 

.add_another_file{
	font-size:1.3em;
    

}

#static_files, #static_files .input_cell input{
	
	color:#444;  
    padding: 5px 10px;
    font-size: 1.2em;
    font-family: Georgia, serif;
    text-shadow: rgba(255,255,255,.8) 0 1px 0; 
}



/* Styling comments */ 

#comments{
	padding: 1.5em;
    margin-left:5px;  
}

.comment{
	color:#444;  
    padding: 5px 10px;
    font-size: 1.3em;
    font-family: Georgia, serif;
    text-shadow: rgba(255,255,255,.8) 0 1px 0; 
}





/* styling user info */

#header_info{
	
	display:inline;
	
}

#user_log_info{
	margin-left:20px;
	font-size: 1.1em;
	font-weight:bold;
}




/* Administrator menu styling */ 

a div:hover{
    	color:blue;
}




/* Administration Zone. Page index, associated to index action of BaseContreller. */ 

#administration_zone{
  
 margin-left:5px; 
 
  
}

#administration_header{
	position:relative;
	border-bottom: solid 1px #c6c6c6;
   
}

#administration_title{
	position:absolute;
	top:44px;
	left:134px;
	font-size:2.4em;
	text-shadow: rgba(255,255,255,1) 0 1px 0;
}


/* users index styling (administration base page) */ 

#users {
 position:relative;	
 padding:1.1em;
  
}



#users div{
     font-size:1.5em;   
     position:absolute;
     top:90px;
     left:40px;
	}


/* User styling */ 

#user_index{
	
   margin-left:5px;

}


#user_new{
	
     margin-left:1.8em;
     font-size:1.2em; 
}

.user_info_block{
	border-bottom:solid 1px #c6c0c0;
	padding:0.5em;
	
}


.user_image{
	margin-left:1.8em;
	display:inline;

}

.user_email_field{
   margin-left:0.5em;
   display:inline;	
   margin-right:0.5em;
}

.user_email_field a{
	
	text-decoration:none;
	font-size:1.5em;
}


/* User show() action */ 

#user_show{
	
    margin-left:0.5em;
	padding: 1.5em;	
	
}

#user_info {
	color:#444;  
    padding: 5px 10px;
    font-size: 1.2em;
    font-family: Georgia, serif;
    
    text-shadow: rgba(255,255,255,.8) 0 1px 0; 
	
	
}

#user_edit{
	
}


#user_delete a:hover{
	color:red;
}












/* Miscellanea di prove JQuery. Si noti che removed ha bacground di un colore rosso di default da blueprint. */

.removed{
	
}


.colored{
	
	color:red; 
}










/* Miscellanea di prove da pages/home 
 *
 *  1) Se in #div_principale metti color:red, allora il testo in #div_principale, e in ogni
 *     blocco annidato dentro diventa rosso. Tuttavia i titoli <hX> NO. 
 *     
 *  2) font-size invece influenza tutto, anche ciò che è in h2    
 * 
 *   
 * 
 * */

#div_principale{
	border: solid 1px;
    color:red;
    font-size:2em;
}

#annidato_1{
	border:solid 1px green;
	margin: 2px;
}

#annidato_2{
	border: solid 1px blue;
	margin: 2px;
}	

/* Ecco la differenza sostanziale tra 
 * #div_principale div e #div_principale > div :
 * 
 *  #div_principale div => Si riferisce ad ogni <div> dentro #div_principale, ad ogni grado di profondità.
 *  #div_principale > div => Si riferisce solo a <div> ad UN SOLO GRADO di profondità, cioè figli diretti.  
 *  
 */

#div_principale > div{
	 border:solid 1px #8A1F11;
}


#div_principale{
	position:relative;
	
}


#pop{
	width: 100px;
	border:solid 1px black;
    position:absolute; 
    top:10px;
    left:30px;
    display:none;    
    
}

#div_principale:hover #pop{
   display:block;
}
