/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 * 	
 *= require_self
 *= require_tree . 
 * */



/* Create Project button */

.create_project_button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 20px 40px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 24px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.create_project_button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.create_project_button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
   
.create_project_button:visited {
   color:white;
   }
   

#create_project_button{
	margin-left:40%;
}





/* Some styling for form input */

.label_cell{
	
	font-size: 1.2em;
}

.input_cell input {
	
	height:2em;
    width: 550px; 
   -moz-border-radius: 15px;
   border-radius: 5px;
    
} 

.input_cell input:focus {
   border-color: #0099FF;
}

/* form button */ 


.formButton {
   border-top: 1px solid #97f7a5;
   background: #89d9a2;
   background: -webkit-gradient(linear, left top, left bottom, from(#2d8a51), to(#89d9a2));
   background: -webkit-linear-gradient(top, #2d8a51, #89d9a2);
   background: -moz-linear-gradient(top, #2d8a51, #89d9a2);
   background: -ms-linear-gradient(top, #2d8a51, #89d9a2);
   background: -o-linear-gradient(top, #2d8a51, #89d9a2);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.formButton:hover {
   border-top-color: #4b8062;
   background: #4b8062;
   color: #ccc;
   }
.formButton:active {
   border-top-color: #2c6943;
   background: #2c6943;
   }