<div class="block">

  <div class="column span-16 flash_message last">  
  
        <%flash.each do |type,message |%>
            
            <div class="<%=type%>"> 
                <%=message%> 
            </div>
            
        <%end%>
  
  </div><hr class="space"/>

</div>
