<div class="block">
	
		<div class="column span-24">
	       <hr class="space"/>
	       <hr />
	       <span class="footer">&copy;Domenico D'Egidio</span>
	       
	       <hr class="space"/>
	       <hr />
	       
	    </div>		
</div>
