<div class="block">
		<div class="column span-24">
			<div>
				<h1> 
					<span class="alt">Ticketee</span>
				    Agile Project Tickets Tracking 
				</h1>
				
		        <hr class="space">
				<hr>
				<h2 class="alt">This application show what you get with RoR</h2>
				<hr>
			</div>
		</div>
</div>
