<div id="header" class="block">
		<div class="column span-24">
			<div>
				<h1> 
					<%=linked_image_tag(:image_name=>"fioccoGrande.jpg", :linked_to=>root_path)%>
					<span class="alt">Snow Ticketee : </span>
				    Agile Project Tickets Tracking 
				</h1>
				
		        <hr class="space">
				<hr />
				
				 <h2 class="alt" id="header_info">This application show what you get with RoR</h2>
				 <%if user_signed_in? %>
				    <span class="user_log_info"> Signed in as <%=current_user.email%></span>
				 <%end%> 
				<hr />
			</div>
		</div>
</div>
