<div class="block">
		<div class="column span-7 colborder">
			<div>
				<h6>Will use this box later</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
				   sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
				   nisi ut aliquip ex ea commodo consequat.
				</p>
			</div>
		
		</div>
		
		<div class="column span-7 colborder">
			<div>
			    <h6>Will use this box later</h6>
			    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
			       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
			       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			    </p>
			</div>
		</div>
		
		<div class="column span-8 last">
			<div>
			  <h6>Will use this box later</h6>

			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
			  	 labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
			  	 laboris nisi ut aliquip ex ea commodo consequat commodo consequat.
			  </p>
			
			</div>
		
		</div>


</div>

